.red{background-color: brown; width: 20%; height: 500px; position:absolute; right: 20%;}
.blue{background-color: blue; width: 20%; height: 500px;}
.green{background-color: green; width: 20%; height: 500px;}
